.resident-list-container {
  text-align: center;
  padding: 0 5em 0 5em;
}

.resident-list-container > h2 {
  font-weight: lighter;
}

.resident-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.resident-list > * {
  flex: 1;
}

.resident-card {
  padding: 0 2em 0 2em;
  border: 1px solid #eeeeee;
  text-align: left;
  cursor: pointer;
}

.resident-card:nth-child(even) {
  background-color: #eeeeee;
}

.resident-card:hover {
  background-color: #dddddd;
}

.resident-card > p {
  font-size: large;
}

@media only screen and (max-width: 767px) {
  .resident-list-container {
    padding: 0 2em 0 2em;
  }
}
