header {
  margin: 0;
  background-color: #8a9a5b;
  padding: 10px 0 10px 5em;
  height: 6%;
}

header > .title > h1 {
  color: white;
  letter-spacing: 4px;
  padding: 0;
  margin: 0;
}

header > .title > h2 {
  padding: 0;
  margin: 0;
  font-weight: lighter;
}
